body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 24px;
}

.flexbox {
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
  background-color: #e0e0e0;
  margin-bottom: 50px;
}

.part {
  flex: 1 1 25%;
  border: 1px solid orange;
}

p {
  text-align: center;
}

.separate {
  flex-shrink: 5;
}
